@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './prism';

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/static/fonts/Inter.var.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Freight Text Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/static/fonts/freight-text-pro.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Jetbrains Mono';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/static/fonts/JetBrainsMono-VariableFont_wght.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Jetbrains Mono';
    font-style: italic;
    font-weight: 100 900;
    font-display: optional;
    src: url(/static/fonts/JetBrainsMono-Italic-VariableFont_wght.woff2) format('woff2');
  }

  ::selection {
    @apply tw-bg-[#e5e5e6] dark:tw-bg-[#3e4451];
  }

  * {
    @apply tw-text-text dark:tw-text-dark-text tw-bg-bg dark:tw-bg-dark-bg tw-border-border dark:tw-border-dark-border;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  body {
    font-family: Inter, 'Freight Text Pro', 'Jetbrains Mono', ui-sans-serif, system-ui,
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
    font-size: 16px;
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* Remove Safari input tw-shadow on mobile */
  input[type='text'],
  input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@layer components {
  /* https://seek-oss.github.io/capsize/ */
  .capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
  }

  .capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
  }

  .highlight-line {
    @apply tw-block tw-px-4 tw--mx-4 tw-border-l-4 tw-border-blue-500;
  }

  .metric-card {
    > a {
      @apply tw-no-underline;
    }
    > p {
      @apply tw-my-2;
    }
  }

  .step > h3 {
    @apply tw-my-0;
  }

  .emoji {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  @keyframes shrink {
    0%,
    100% {
      height: 0.75rem;
    }
    50% {
      height: 0.375rem;
    }
  }

  @keyframes expand {
    0%,
    100% {
      height: 0.375rem;
    }
    50% {
      height: 0.75rem;
    }
  }

  @keyframes cutebounce {
    0%,
    100% {
      transform: rotate(20deg) translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    25%,
    75% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: rotate(-20deg) translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  .animate-cutebounce {
    animation: cutebounce 0.8s infinite;
  }
}

.tw-prose {
  .tweet a {
    text-decoration: inherit;
    font-weight: inherit;
  }

  a {
    @apply tw-no-underline;

    &[aria-hidden='true'][href^='#'] {
      margin-left: -1.2ch;
      margin-right: 0.2ch;

      @apply hover:tw-bg-opacity-0;
      @apply tw-font-normal;
      @apply tw-p-0;
    }
  }

  span.icon.icon-link {
    font-size: 1em;
    text-decoration: none;

    @apply tw-opacity-50;
    @apply hover:tw-opacity-100;

    &::before {
      content: '#';

      @apply tw-text-gray-500;
      @apply dark:tw-text-gray-400;
    }
  }

  > p {
    font-family: 'Freight Text Pro';
    @apply tw-mb-8 tw-text-xl tw-leading-7;
  }

  pre {
    @apply tw-border tw-border-border dark:tw-border-dark-border tw-text-text dark:tw-text-dark-text tw-bg-bg dark:tw-bg-dark-bg;
  }

  code {
    font-family: 'Jetbrains Mono';
    @apply tw-text-sm tw-text-[#b26ae2];
  }

  img {
    /* Don't apply styles to next/image */
    @apply tw-m-0;
  }

  .task-list-item {
    @apply tw-pl-0;

    &::before {
      display: none;
    }

    &:first-child,
    :last-child {
      @apply tw-my-0;
    }

    input {
      @apply tw-mr-2;
    }
  }

  .footnote-back {
    @apply tw-ml-1;
    & > span {
      @apply tw-w-full tw-h-full;
      & > * {
        @apply tw-w-[1em] tw-h-[1em];
      }
    }
  }

  .footnote-ref > sup {
    @apply tw-ml-0.5 tw-text-primary dark:tw-text-primary;

    font-family: Inter;
    font-size: 0.6rem;
    line-height: 0.5rem;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  > :first-child {
    /* Override removing margin, to prevent layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }
}

.rehype-code-title {
  @apply tw-px-5 tw-py-3 tw-font-mono tw-text-sm tw-font-bold tw-border tw-border-b-0 tw-border-gray-200 dark:tw-border-gray-700 tw-rounded-t-lg;
}

.rehype-code-title + div > pre {
  @apply tw-mt-0 tw-rounded-t-none;
}
