@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/static/fonts/Inter.var.woff2) format('woff2');
}

@font-face {
  font-family: 'Freight Text Pro';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/static/fonts/freight-text-pro.woff) format('woff');
}

@font-face {
  font-family: 'Meslo';
  font-style: normal;
  font-weight: normal;
  font-display: optional;
  src: url(/static/fonts/meslo.woff2) format('woff2');
}

@font-face {
  font-family: 'Meslo';
  font-style: normal;
  font-weight: bold;
  font-display: optional;
  src: url(/static/fonts/meslo-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Meslo';
  font-style: italic;
  font-weight: normal;
  font-display: optional;
  src: url(/static/fonts/meslo-italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Meslo';
  font-style: italic;
  font-weight: bold;
  font-display: optional;
  src: url(/static/fonts/meslo-bold-italic.woff2) format('woff2');
}

* {
  @apply tw-antialiased tw-text-text dark:tw-text-dark-text tw-bg-bg dark:tw-bg-dark-bg tw-border-border dark:tw-border-dark-border;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply tw-bg-opacity-100;
  }
}

.tw-prose .anchor {
  @apply tw-absolute tw-invisible !important;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 1%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply tw-visible tw-no-underline tw-text-text dark:tw-text-dark-text !important;
}

.tw-prose ol,
.tw-prose ul {
  list-style: none;
  padding: 0 !important;
  padding-left: 12px !important;
  margin: 0 !important;
}

.tw-prose li {
  padding-left: 2em !important;
  text-indent: -0.7em !important;
}

.tw-prose a {
  @apply tw-transition-all;
}

.tw-prose .anchor:after {
  @apply tw-text-gray-300 dark:tw-text-gray-700 tw-w-min !important;
  content: '#';
}

.tw-prose *:hover > .anchor {
  @apply tw-visible tw-no-underline !important;
}

.tw-prose > p {
  font-family: 'Freight Text Pro';
  @apply tw-mb-8 tw-text-xl tw-leading-7 !important;
}

.tw-prose pre {
  @apply tw-border tw-border-border dark:tw-border-dark-border tw-text-text dark:tw-text-dark-text tw-bg-bg dark:tw-bg-dark-bg !important;
}

.tw-prose code {
  font-family: 'Meslo';
  @apply tw-text-sm tw-text-[#b26ae2] !important;
}

.tw-prose img {
  /* Don't apply styles to next/image */
  @apply tw-m-0;
}

.tw-prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply tw-text-gray-700 dark:tw-text-gray-300;
}

.token.punctuation {
  @apply tw-text-gray-700 dark:tw-text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply tw-text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply tw-text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply tw-text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply tw-text-blue-500;
}

.token.function,
.token.class-name {
  @apply tw-text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply tw-text-yellow-500;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply tw-px-5 tw-py-3 tw-font-mono tw-text-sm tw-font-bold tw-border tw-border-b-0 tw-border-gray-200 dark:tw-border-gray-700 tw-rounded-t-lg;
}

.rehype-code-title + div > pre {
  @apply tw-mt-0 tw-rounded-t-none;
}

.highlight-line {
  @apply tw-block tw-px-4 tw--mx-4 tw-border-l-4 tw-border-blue-500;
}

/* Remove Safari input tw-shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.metric-card > a {
  @apply tw-no-underline;
}

.metric-card > p {
  @apply tw-my-2;
}

.step > h3 {
  @apply tw-my-0;
}

.tw-prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.emoji {
  display: inline-block;
  width: 0.8em !important;
  height: 0.8em !important;
  margin-left: 0.1em !important;
  margin-right: 0.1em !important;
  vertical-align: -0.1em;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@keyframes shrink {
  0%,
  100% {
    height: 0.75rem;
  }
  50% {
    height: 0.375rem;
  }
}

@keyframes expand {
  0%,
  100% {
    height: 0.375rem;
  }
  50% {
    height: 0.75rem;
  }
}

@keyframes cutebounce {
  0%,
  100% {
    transform: rotate(20deg) translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  25%,
  75% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: rotate(-20deg) translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.animate-cutebounce {
  animation: cutebounce 0.8s infinite;
}
