@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply tw-antialiased tw-text-text dark:tw-text-dark-text tw-bg-bg dark:tw-bg-dark-bg tw-border-border dark:tw-border-dark-border;
  }

  .tw-prose .anchor {
    @apply tw-absolute tw-invisible;
    background-color: transparent;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
  }

  .anchor:hover {
    @apply tw-visible tw-no-underline tw-text-text dark:tw-text-dark-text;
  }

  .tw-prose .anchor:after {
    @apply tw-text-gray-300 dark:tw-text-gray-700 tw-w-min;
    content: '#';
  }

  .tw-prose *:hover > .anchor {
    @apply tw-visible tw-no-underline;
  }

  .tw-prose > p {
    font-family: 'Freight Text Pro';
    @apply tw-mb-8 tw-text-xl tw-leading-7;
  }

  .tw-prose pre {
    @apply tw-border tw-border-border dark:tw-border-dark-border tw-text-text dark:tw-text-dark-text tw-bg-bg dark:tw-bg-dark-bg;
  }

  .tw-prose code {
    font-family: 'Jetbrains Mono';
    @apply tw-text-sm tw-text-[#b26ae2];
  }

  .tw-prose img {
    /* Don't apply styles to next/image */
    @apply tw-m-0;
  }

  .tw-prose :target::before {
    content: '';
    display: block;
    height: 96px; /* fixed header height*/
    margin: -96px 0 0; /* negative fixed header height */
  }
}
